<% include partials/header %>

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <span class="login100-form-title p-b-53">
                    <% if (!user) { %>
                        <h3>Welcome! Please <a href="/login">Log In</a>.</h3>
                    <% } else { %>
                        <h3>Hello, <%= user.displayName %>.</h3>
                    <% } %>
                </span>
                <span class="login100-form-title p-b-53">
                    <a href="/logout">Log Out</h3>
                </span>
        </div>
    </div>
</div>

<% include partials/footer %>